header{
    font-family: 18px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rebeccapurple;
    padding: 0 15px ;

}
.logo{
    font-weight: 600;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}